@model DoktorBrans
@{
    ViewData["Title"] = "Branş Ekle";
}

<form method="post">
    <div class="border p-3 mt-5">

        <div class="row pb-3">
            <h2 class="text-primary">@_localization.Getkey("Yeni Branş Ekle").Value</h2>
            <br>
        </div>
        
       <div class="mb-3">
            <label asp-for="Ad" class="p-0">TR - @_localization.Getkey("Branş Adı").Value</label>
            <input asp-for="Ad" class="form-control"/>
            <span asp-validation-for="Ad" class="text-danger"></span>
       </div>

        <div class="mb-3">
            <label asp-for="AdEng" class="p-0">EN - @_localization.Getkey("Branş Adı").Value</label>
            <input asp-for="AdEng" class="form-control" />
            <span asp-validation-for="AdEng" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">@_localization.Getkey("Yeni Doktor Branşını Ekle").Value</button>

        <a asp-controller="DoktorBrans" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
            @_localization.Getkey("Branş Listesine Geri Dön").Value
        </a>

    </div>
</form>

@*@section Scripts{
    @{

        <partial name="_ValidationScriptsPartial"/>

    }
     *@

<!-- buradaki razor section kısmı, modelde verilen hata mesajının, front endde de sağlamasını yapmak içindir. -->