@model List<DoktorBrans>

@{
    ViewData["Title"] = "Doktor Branşları";
}

@if (TempData["basarili"] != null){
    <h2 style="color:forestgreen">@TempData["basarili"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1 class="text-primary"> @_localization.Getkey("Doktor Branşları").Value</h1>
        </div>
    </div>
    <table class="table table-bordered">

        <thead>


            <tr>
                <th class="text-primary">
                    id
                </th>

                <th class="text-primary">
                    @_localization.Getkey("Doktor Branşları").Value
                </th>

                <th class="text-succcess">
                    @_localization.Getkey("Güncelle").Value
                </th>

                <th class="text-danger">
                    @_localization.Getkey("Sil").Value
                </th>
            </tr>


        </thead>


        <tbody>
            @foreach (var doktorBranslari in Model)
            {


                <tr>
                    <td>@doktorBranslari.Id</td>
                    <td>
                        @if (Thread.CurrentThread.CurrentCulture.Name.ToString() == "en-US")
                        {
                            @doktorBranslari.AdEng
                        }
                        else
                        {
                            @doktorBranslari.Ad
                        }                       
                        
                    </td>
                    <td>
                        <a asp-controller="DoktorBrans" asp-action="Guncelle" asp-route-id="@doktorBranslari.Id" type="button" class="btn btn-success btn-sm"> @_localization.Getkey("Güncelle").Value</a>
                    </td>
                    <td>
                        <a asp-controller="DoktorBrans" asp-action="Sil" asp-route-id="@doktorBranslari.Id" type="button" class="btn btn-danger btn-sm">@_localization.Getkey("Sil").Value</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="DoktorBrans" asp-action="Ekle" class="btn btn-lg btn-primary" type="button"> @_localization.Getkey("Yeni Branş Ekle").Value</a>
        </div>
    </div>


</div>