@model Doktor

@{
    ViewData["Title"] = Model == null ? "Doktor Ekle" : " Doktor Güncelle";
}

<form method="post" enctype="multipart/form-data">
    <input asp-for="ResimUrl" hidden />
    <!--
        eğer modeldeki metodun adı Id yerine bambaşka bir şey olsaydı, bu satırı yazmayınca program hata verirdi.(şu an örnek olsun diye yazıldı)
        Çünkü buradaki "Id" ismi asp için özel bir isim ve bu ismi koyduğun an bunun databasedeki "id" kavramına eşdeğer olduğunu sistem otomatik olarak algılıyor.
    -->

    <div class="row">
        
        <div class="col-10">
            <div class="border p-3 mt-5">

                <div class="row pb-3">
                    <h2 class="text-primary">@(Model == null ? @_localization.Getkey("Doktor Ekle").Value : @_localization.Getkey("Doktoru Güncelle").Value)</h2>
                    <br>
                </div>

                <div class="mb-3">
                    <label asp-for="DoktorAdi" class="p-0">@_localization.Getkey("Doktor Adı:").Value</label>
                    <input asp-for="DoktorAdi" class="form-control" />
                    <span asp-validation-for="DoktorAdi" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DoktorBransId" class="p-0">@_localization.Getkey("Branşı:").Value</label>
                    <select asp-for="DoktorBransId" asp-items="ViewBag.DoktorBransList" class="form-select"></select>
                    <span asp-validation-for="DoktorBransId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Poliklinik" class="p-0">@_localization.Getkey("Poliklinik:").Value</label>
                    <input asp-for="Poliklinik" class="form-control" />
                    <span asp-validation-for="Poliklinik" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Calisma" class="p-0">TR - @_localization.Getkey("Çalışma Günleri-Saatleri:").Value</label>
                    <input asp-for="Calisma" class="form-control" />
                    <span asp-validation-for="Calisma" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CalismaEng" class="p-0">EN - @_localization.Getkey("Çalışma Günleri-Saatleri:").Value</label>
                    <input asp-for="CalismaEng" class="form-control" />
                    <span asp-validation-for="CalismaEng" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ResimUrl" class="p-0">@_localization.Getkey("Resim Yükle:").Value</label>
                    <input type="file" name="file" class="form-control" />
                </div>


                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">@_localization.Getkey("Doktor Güncelle").Value</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">@_localization.Getkey("Doktor Ekle").Value</button>
                }


                <a asp-controller="Doktor" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
                    @_localization.Getkey("Doktor Listesine Geri Dön").Value
                </a>

            </div>
        </div>
        <div class="col-2">
            @if (Model != null)
            {
                <br>

                <br />
                <img src="@Model.ResimUrl" width="100%" style="border-radius: 7px; border: 4px solid:#bbb9b9" />
            }

        </div>
    </div>







</form>

@*@section Scripts{
    @{

        <partial name="_ValidationScriptsPartial"/>

    }
     *@

<!-- buradaki razor section kısmı, modelde verilen hata mesajının, front endde de sağlamasını yapmak içindir. -->
