@using HastaneRandevuSistemi.Utility;
@model List<Randevu>
@{
    ViewData["Title"] = "Randevu İşlemleri";
}
@if (TempData["basarili"] != null)
{
    <h2 style="color:forestgreen">@TempData["basarili"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1 class="text-primary">Randevu İşlemleri</h1>
        </div>
    </div>
    <table class="table table-bordered">

        <thead>


            <tr>
                
                    <th class="text-primary">
                        id
                    </th>
                
                <th class="text-primary">
                    Hasta id
                    </th>
                

                <th class="text-primary">
                    Doktor Adı
                </th>
               
                    <th style="color:forestgreen">
                        Güncelle
                    </th>

                    <th class="text-danger">
                        Sil
                    </th>
                
               

            </tr>


        </thead>


        <tbody>
            @foreach (var randevu in Model)
            {


                <tr>
                   
                        <td>@randevu.Id</td>
                        <td>@randevu.HastaId</td>
                    
                    
                    <!-- <td>@*@randevu.DoktorId*@</td>-->
                    <td>@randevu.Doktor.DoktorAdi</td>

                   
                        <td>
                            <a asp-controller="Randevu" asp-action="EkleGuncelle" asp-route-id="@randevu.Id" type="button" class="btn btn-success btn-sm">Güncelle</a>
                        </td>
                        <td>
                            <a asp-controller="Randevu" asp-action="Sil" asp-route-id="@randevu.Id" type="button" class="btn btn-danger btn-sm">Sil</a>
                        </td>
                                   
                    
                </tr>
            }
        </tbody>

    </table>
  
        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Randevu" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Yeni Randevu Kaydı Oluştur</a>
            </div>
        </div>
  

</div>
