﻿
<br />
<br />
<br />
@{
    ViewData["Title"] = @_localization.Getkey("İletişim Bilgileri:").Value;
}
<h1 style="color: sandybrown">@ViewData["Title"]</h1>

<br />
<h4 style="color: sandybrown">@_localization.Getkey("Admin Adresi").Value:</h4>
<br />
<h4>@_localization.Getkey("Hüsnügören Mahallesi, Azizağalar Yerleşkesi, No:79 Feraye Apt., İç Kapı No:3, Kat:2").Value</h4>
<h4>@_localization.Getkey("Shire/Orta Dünya").Value </h4>
<br />
<h4 style="color: sandybrown">@_localization.Getkey("E-Posta").Value:</h4>
<h5>
    <a href="mailto:hmayn7faikn3k2sod@sakarya.edu.tr">hmayn7faikn3k2sod@sakarya.edu.tr</a>
</h5>
